In [1]:
import pandas as pd
import os

In [2]:
# find files
file_paths = ["Resource/JC-202303-citibike-tripdata.csv","Resource/JC-202304-citibike-tripdata.csv","Resource/JC-202305-citibike-tripdata.csv"]

# List to hold dataframes for each CSV file
dataframes = []

# Read each CSV file into a dataframe and append to the list
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dataframes.append(df)

# Concatenate all dataframes into one
merged_df = pd.concat(dataframes)

In [3]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member

In [4]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239762 entries, 0 to 96001
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239762 non-null  object
 1   rideable_type       239762 non-null  object
 2   started_at          239762 non-null  object
 3   ended_at            239762 non-null  object
 4   start_station_name  239759 non-null  object
 5   start_station_id    239759 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239762 non-null  float64
 9   start_lng           239762 non-null  float64
 10  end_lat             239490 non-null  float64
 11  end_lng             239490 non-null  float64
 12  member_casual       239762 non-null  object
dtypes: float64(4), object(9)
memory usage: 25.6+ MB

In [5]:
# Convert "started_at" and "ended_at" to datetime data type
merged_df['started_at'] = pd.to_datetime(merged_df['started_at'])
merged_df['ended_at'] = pd.to_datetime(merged_df['ended_at'])

# Create new columns for month and time
merged_df['start_month'] = merged_df['started_at'].dt.month
merged_df['end_month'] = merged_df['ended_at'].dt.month

# Assuming you want time in hours and minutes
merged_df['start_time'] = merged_df['started_at'].dt.strftime('%H:%M')
merged_df['end_time'] = merged_df['ended_at'].dt.strftime('%H:%M')

merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,end_month,start_time,end_time
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,09:20,09:32
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,07:55,08:07
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,08:50,09:00
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,10:17,10:27
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,09:13,09:25

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239762 entries, 0 to 96001
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239762 non-null  object
 1   rideable_type       239762 non-null  object
 2   started_at          239762 non-null  datetime64[ns]
 3   ended_at            239762 non-null  datetime64[ns]
 4   start_station_name  239759 non-null  object
 5   start_station_id    239759 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239762 non-null  float64
 9   start_lng           239762 non-null  float64
 10  end_lat             239490 non-null  float64
 11  end_lng             239490 non-null  float64
 12  member_casual       239762 non-null  object
 13  start_month         239762 non-null  int32
 14  end_month           239762 non-null  int32
 15  start_time          239762 non-null  object
 16  end_time            239762 non-null  object
dtypes: datetime64[ns](2), float64(4), int32(2), object(9)
memory usage: 31.1+ MB

In [7]:
merged_df['end_time'] = pd.to_datetime(merged_df['end_time'])

C:\Users\patricia.deassis\AppData\Local\Temp\ipykernel_21516\3152041954.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['end_time'] = pd.to_datetime(merged_df['end_time'])

In [8]:
merged_df['start_time'] = pd.to_datetime(merged_df['start_time'])

C:\Users\patricia.deassis\AppData\Local\Temp\ipykernel_21516\4003437752.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['start_time'] = pd.to_datetime(merged_df['start_time'])

In [9]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239762 entries, 0 to 96001
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239762 non-null  object
 1   rideable_type       239762 non-null  object
 2   started_at          239762 non-null  datetime64[ns]
 3   ended_at            239762 non-null  datetime64[ns]
 4   start_station_name  239759 non-null  object
 5   start_station_id    239759 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239762 non-null  float64
 9   start_lng           239762 non-null  float64
 10  end_lat             239490 non-null  float64
 11  end_lng             239490 non-null  float64
 12  member_casual       239762 non-null  object
 13  start_month         239762 non-null  int32
 14  end_month           239762 non-null  int32
 15  start_time          239762 non-null  datetime64[ns]
 16  end_time            239762 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(4), int32(2), object(7)
memory usage: 31.1+ MB

In [10]:
merged_df['duration'] = merged_df['end_time'] - merged_df['start_time']

In [11]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,end_month,start_time,end_time,duration
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0 days 00:12:00
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0 days 00:12:00
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0 days 00:10:00
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0 days 00:10:00
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0 days 00:12:00

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239762 entries, 0 to 96001
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239762 non-null  object
 1   rideable_type       239762 non-null  object
 2   started_at          239762 non-null  datetime64[ns]
 3   ended_at            239762 non-null  datetime64[ns]
 4   start_station_name  239759 non-null  object
 5   start_station_id    239759 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239762 non-null  float64
 9   start_lng           239762 non-null  float64
 10  end_lat             239490 non-null  float64
 11  end_lng             239490 non-null  float64
 12  member_casual       239762 non-null  object
 13  start_month         239762 non-null  int32
 14  end_month           239762 non-null  int32
 15  start_time          239762 non-null  datetime64[ns]
 16  end_time            239762 non-null  datetime64[ns]
 17  duration            239762 non-null  timedelta64[ns]
dtypes: datetime64[ns](4), float64(4), int32(2), object(7), timedelta64[ns](1)
memory usage: 32.9+ MB

In [13]:
merged_df['duration'] = merged_df['duration'].dt.seconds / 3600  # Convert seconds to hours

In [14]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,end_month,start_time,end_time,duration
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0.200000
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0.200000
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0.166667
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0.166667
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0.200000

In [15]:
merged_df['duration'] = merged_df['duration'].round(2)

In [16]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,end_month,start_time,end_time,duration
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0.20
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0.20
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0.17
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0.17
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0.20

In [17]:
# Drop specified columns
columns_to_remove = ["end_month"]
merged_df = merged_df.drop(columns=columns_to_remove)

# Display the updated DataFrame
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,start_time,end_time,duration
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0.20
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0.20
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0.17
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0.17
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0.20

In [18]:
# Define a function to map time values to period labels
def map_time_to_period(time):
    if time < pd.Timestamp("06:00:00").time():
        return "early morning"
    elif time < pd.Timestamp("12:00:00").time():
        return "morning"
    elif time < pd.Timestamp("18:00:00").time():
        return "afternoon"
    else:
        return "night"

# Create the "Period of the day" column based on the "start_time" column
merged_df['Period of the day'] = merged_df['start_time'].dt.time.apply(map_time_to_period)

In [19]:
merged_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,start_time,end_time,duration,Period of the day
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0.20,morning
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0.20,morning
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0.17,morning
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0.17,morning
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0.20,morning

In [20]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239762 entries, 0 to 96001
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             239762 non-null  object
 1   rideable_type       239762 non-null  object
 2   started_at          239762 non-null  datetime64[ns]
 3   ended_at            239762 non-null  datetime64[ns]
 4   start_station_name  239759 non-null  object
 5   start_station_id    239759 non-null  object
 6   end_station_name    239077 non-null  object
 7   end_station_id      239077 non-null  object
 8   start_lat           239762 non-null  float64
 9   start_lng           239762 non-null  float64
 10  end_lat             239490 non-null  float64
 11  end_lng             239490 non-null  float64
 12  member_casual       239762 non-null  object
 13  start_month         239762 non-null  int32
 14  start_time          239762 non-null  datetime64[ns]
 15  end_time            239762 non-null  datetime64[ns]
 16  duration            239762 non-null  float64
 17  Period of the day   239762 non-null  object
dtypes: datetime64[ns](4), float64(5), int32(1), object(8)
memory usage: 33.8+ MB

In [22]:
merged_df.dropna()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,start_time,end_time,duration,Period of the day
0,38F943EA06A4E54F,electric_bike,2023-03-25 09:20:57,2023-03-25 09:32:10,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:20:00,2024-02-19 09:32:00,0.20,morning
1,C76EFC4C3B771E88,electric_bike,2023-03-15 07:55:41,2023-03-15 08:07:44,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 07:55:00,2024-02-19 08:07:00,0.20,morning
2,02C7BC83975952E6,electric_bike,2023-03-20 08:50:11,2023-03-20 09:00:37,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 08:50:00,2024-02-19 09:00:00,0.17,morning
3,DB0FB572E0AA9C36,electric_bike,2023-03-02 10:17:07,2023-03-02 10:27:22,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,casual,3,2024-02-19 10:17:00,2024-02-19 10:27:00,0.17,morning
4,A238B2BDD1072D52,electric_bike,2023-03-04 09:13:23,2023-03-04 09:25:30,Jersey & 6th St,JC027,Glenwood Ave,JC094,40.725289,-74.045572,40.727551,-74.071061,member,3,2024-02-19 09:13:00,2024-02-19 09:25:00,0.20,morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95997,9549398286BB59B5,docked_bike,2023-05-27 13:24:51,2023-05-27 13:51:18,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Newport Pkwy,JC008,40.736982,-74.027781,40.728745,-74.032108,casual,5,2024-02-19 13:24:00,2024-02-19 13:51:00,0.45,afternoon
95998,AB0790683044D89E,classic_bike,2023-05-18 17:12:07,2023-05-18 17:25:02,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 17:12:00,2024-02-19 17:25:00,0.22,afternoon
95999,68226FA538A405CA,classic_bike,2023-05-05 18:44:57,2023-05-05 18:56:15,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 18:44:00,2024-02-19 18:56:00,0.20,night
96000,CABAC21C0F0140A5,classic_bike,2023-05-16 11:56:11,2023-05-16 12:04:04,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member,5,2024-02-19 11:56:00,2024-02-19 12:04:00,0.13,morning
96001,4AABD797EF6F7BB2,classic_bike,2023-05-30 11:04:46,2023-05-30 11:13:54,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 11:04:00,2024-02-19 11:13:00,0.15,morning

In [25]:
# Group by 'start_station_name' and select the first occurrence of 'start_lat' and 'start_lng' in each group
start_lat_lng = merged_df.groupby('start_station_name')[['start_lat', 'start_lng']].first()

# Replace missing values in 'start_station_name' with an empty string
merged_df['start_station_name'].fillna('', inplace=True)

# Replace 'start_lat' and 'start_lng' with the selected values for each respective 'start_station_name'
merged_df[['start_lat', 'start_lng']] = merged_df.apply(lambda row: start_lat_lng.loc[row['start_station_name']] if row['start_station_name'] != '' else [pd.NA, pd.NA], axis=1)

merged_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_month,start_time,end_time,duration,Period of the day
95997,9549398286BB59B5,docked_bike,2023-05-27 13:24:51,2023-05-27 13:51:18,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Newport Pkwy,JC008,40.736982,-74.027781,40.728745,-74.032108,casual,5,2024-02-19 13:24:00,2024-02-19 13:51:00,0.45,afternoon
95998,AB0790683044D89E,classic_bike,2023-05-18 17:12:07,2023-05-18 17:25:02,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 17:12:00,2024-02-19 17:25:00,0.22,afternoon
95999,68226FA538A405CA,classic_bike,2023-05-05 18:44:57,2023-05-05 18:56:15,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 18:44:00,2024-02-19 18:56:00,0.20,night
96000,CABAC21C0F0140A5,classic_bike,2023-05-16 11:56:11,2023-05-16 12:04:04,Columbus Drive,JC014,Newport Pkwy,JC008,40.718803,-74.038736,40.728745,-74.032108,member,5,2024-02-19 11:56:00,2024-02-19 12:04:00,0.13,morning
96001,4AABD797EF6F7BB2,classic_bike,2023-05-30 11:04:46,2023-05-30 11:13:54,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member,5,2024-02-19 11:04:00,2024-02-19 11:13:00,0.15,morning

In [ ]:
merged_df

In [26]:

# Write the merged dataframe to a new CSV file
merged_df.to_csv("merged_citibike_data_2.csv", index=False)